// Font
$root-font-family: "DM Sans";
$root-font-size: 18px;
$root-normal-font-weight: 400;
$root-bold-font-weight: 500;

// Color
$light-purple: hsl(254, 88%, 90%);
$dark-purple: hsl(256, 67%, 59%);
$light-yellow: hsl(31, 66%, 93%);
$dark-yellow: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);

// CSS Reset
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: $root-font-family;
  font-size: $root-font-size;
  font-weight: $root-bold-font-weight;
  color: $black;
}

//Global style
#header-card,
#growth-rate-card {
  background-color: $dark-purple;
}

#management-card,
#audience-card {
  background-color: $white;
}

#posting-card,
#ai-assist-card {
  background-color: $dark-yellow;
}

#schedule-card {
  background-color: $light-purple;
}

#create-post-card {
  background-color: $light-yellow;
}

body {
  background-color: rgba($light-yellow, 0.5);
}

.card {
  border-radius: 10px;
}

#header-card {
  text-align: center;
  h1 {
    color: $white;

    em {
      color: $white;
    }

    span {
      color: $dark-yellow;
    }
  }

  p {
    color: $light-yellow;
    font-weight: $root-normal-font-weight;
  }
}

#schedule-card {
  p {
    font-weight: $root-normal-font-weight;
  }
}

#growth-rate-card {
  h2 {
    color: $white;
  }
}

#audience-card {
  p {
    font-weight: $root-normal-font-weight;
  }
}

#create-post-card {
  h2 {
    span {
      color: $dark-purple;
      font-style: italic;
    }
  }
}

// Reusable code
@mixin grid-arrange($row-position, $column-position) {
  grid-row: $row-position;
  grid-column: $column-position;
}

// Mobile style
body {
  width: 100vw;
  height: 100vh;
  padding: 30px 0;
}

.container,
.card-packed {
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
}

.container {
  width: 345px;
  height: 100%;
  margin: auto;

  h2,
  h2 span {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  #header-card {
    padding: 40px;

    h1,
    h1 span,
    h1 em {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    h1 {
      margin-bottom: 25px;
    }

    img {
      width: 185px;
      margin-bottom: 5px;
    }
  }

  #management-card {
    padding: 15px;

    img {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  #posting-card {
    padding: 15px 75px 0 15px;
    overflow: hidden;
    height: 215px;
    border: none;

    img {
      width: 210px;
      margin: 10px 0 0 0;
      padding: 0;
    }
  }

  #schedule-card {
    padding: 30px 15px;
    text-align: center;

    img {
      width: 100%;
      margin: 25px 0;
    }

    p {
      padding: 0 15px;
    }
  }

  #growth-rate-card {
    padding: 25px 60px;
    text-align: center;

    img {
      width: 100%;
      margin-bottom: 35px;
    }
  }

  #audience-card {
    padding: 20px;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    img {
      height: 65px;
      width: fit-content;
      margin-top: 25px;
    }
  }

  #create-post-card {
    padding: 30px 35px 30px 35px;

    img {
      margin-top: 20px;
      width: 190px;
    }
  }

  #ai-assist-card {
    padding: 25px;
    padding-right: 40px;

    h2 {
      font-size: 1.6rem;
    }

    img {
      margin-top: 15px;
      height: 220px;
    }
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
  }

  .container,
  .card-packed {
    gap: 33px;
  }

  .container {
    height: 880px;
    width: 1120px;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 51%;
    left: 50%;
    translate: -50% -50%;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 324px repeat(2, auto);

    section {
      width: 100%;
      height: 100%;
    }

    #header-card {
      @include grid-arrange(1, 2 / span 2);

      padding: 65px 50px 60px 50px;

      h1,
      h1 span,
      h1 em {
        font-size: 3.4rem;
        line-height: 3.4rem;
      }

      img {
        margin: 0;
      }
    }

    #management-card {
      @include grid-arrange(2, 2);

      padding: 25px 0 15px 25px;
      overflow: hidden;

      h2 {
        font-size: 1.7rem;
        padding-right: 20px;
      }

      img {
        width: auto;
        height: 65px;
      }
    }

    #posting-card {
      @include grid-arrange(2, 3);

      padding: 25px 20px 0 20px;
      height: 100%;

      h2 {
        font-size: 1.7rem;
        line-height: 1.7rem;
        margin-bottom: 5px;
      }
    }

    #schedule-card {
      @include grid-arrange(1 / span 2, 4);

      text-align: left;
      padding: 50px 0 40px 30px;
      overflow: hidden;

      h2 {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }

      img {
        width: auto;
        height: 315px;
        margin: 0;
        margin-bottom: 20px;
      }

      p {
        padding: 0;
        padding-right: 30px;
      }
    }

    #growth-rate-card {
      @include grid-arrange(3, 3 / span 2);

      display: flex;
      align-items: center;
      padding: 24px;
      text-align: left;

      h2 {
        font-size: 2.2rem;
        line-height: 2rem;
        padding-left: 10px;
      }

      img {
        height: 200px;
        width: auto;
        margin: 0;
      }
    }

    #audience-card {
      @include grid-arrange(3, 2);

      padding: 40px 30px 25px 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        vertical-align: middle;
        font-size: 3.5rem;
      }
    }

    .card-packed {
      @include grid-arrange(1 / span 3, 1);

      display: grid;
      grid-template-rows: 415px 1fr;
      letter-spacing: -1.2px;

      #create-post-card {
        padding-top: 80px;

        h2,
        h2 span {
          font-size: 2.2rem;
          line-height: 2rem;
        }
      }

      #ai-assist-card {
        padding: 25px 10px 25px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          font-size: 2.2rem;
          line-height: 1.9rem;
          padding-right: 10px;
        }

        img {
          margin: 0;
          height: fit-content;
          width: 100%;
        }
      }
    }
  }
}
