* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
}

#header-card,
#growth-rate-card {
  background-color: hsl(256, 67%, 59%);
}

#management-card,
#audience-card {
  background-color: hsl(0, 0%, 100%);
}

#posting-card,
#ai-assist-card {
  background-color: hsl(39, 100%, 71%);
}

#schedule-card {
  background-color: hsl(254, 88%, 90%);
}

#create-post-card {
  background-color: hsl(31, 66%, 93%);
}

body {
  background-color: rgba(249, 238, 225, 0.5);
}

.card {
  border-radius: 10px;
}

#header-card {
  text-align: center;
}
#header-card h1 {
  color: hsl(0, 0%, 100%);
}
#header-card h1 em {
  color: hsl(0, 0%, 100%);
}
#header-card h1 span {
  color: hsl(39, 100%, 71%);
}
#header-card p {
  color: hsl(31, 66%, 93%);
  font-weight: 400;
}

#schedule-card p {
  font-weight: 400;
}

#growth-rate-card h2 {
  color: hsl(0, 0%, 100%);
}

#audience-card p {
  font-weight: 400;
}

#create-post-card h2 span {
  color: hsl(256, 67%, 59%);
  font-style: italic;
}

body {
  padding: 30px 0;
}

.container,
.card-packed {
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
}

.container {
  width: 345px;
  height: 100%;
  margin: auto;
}
.container h2,
.container h2 span {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.container #header-card {
  padding: 40px;
}
.container #header-card h1,
.container #header-card h1 span,
.container #header-card h1 em {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.container #header-card h1 {
  margin-bottom: 25px;
}
.container #header-card img {
  width: 185px;
  margin-bottom: 5px;
}
.container #management-card {
  padding: 15px;
}
.container #management-card img {
  width: 100%;
  margin-bottom: 15px;
}
.container #posting-card {
  padding: 15px 75px 0 15px;
  overflow: hidden;
  height: 215px;
  border: none;
}
.container #posting-card img {
  width: 210px;
  margin: 10px 0 0 0;
  padding: 0;
}
.container #schedule-card {
  padding: 30px 15px;
  text-align: center;
}
.container #schedule-card img {
  width: 100%;
  margin: 25px 0;
}
.container #schedule-card p {
  padding: 0 15px;
}
.container #growth-rate-card {
  padding: 25px 60px;
  text-align: center;
}
.container #growth-rate-card img {
  width: 100%;
  margin-bottom: 35px;
}
.container #audience-card {
  padding: 20px;
}
.container #audience-card h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.container #audience-card img {
  height: 65px;
  width: fit-content;
  margin-top: 25px;
}
.container #create-post-card {
  padding: 30px 35px 30px 35px;
}
.container #create-post-card img {
  margin-top: 20px;
  width: 190px;
}
.container #ai-assist-card {
  padding: 25px;
  padding-right: 40px;
}
.container #ai-assist-card h2 {
  font-size: 1.6rem;
}
.container #ai-assist-card img {
  margin-top: 15px;
  height: 220px;
}

@media (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
  }
  .container,
  .card-packed {
    gap: 33px;
  }
  .container {
    height: 880px;
    width: 1120px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 51%;
    left: 50%;
    translate: -50% -50%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 324px repeat(2, auto);
  }
  .container section {
    width: 100%;
    height: 100%;
  }
  .container #header-card {
    grid-row: 1;
    grid-column: 2/span 2;
    padding: 65px 50px 60px 50px;
  }
  .container #header-card h1,
  .container #header-card h1 span,
  .container #header-card h1 em {
    font-size: 3.4rem;
    line-height: 3.4rem;
  }
  .container #header-card img {
    margin: 0;
  }
  .container #management-card {
    grid-row: 2;
    grid-column: 2;
    padding: 25px 0 15px 25px;
    overflow: hidden;
  }
  .container #management-card h2 {
    font-size: 1.7rem;
    padding-right: 20px;
  }
  .container #management-card img {
    width: auto;
    height: 65px;
  }
  .container #posting-card {
    grid-row: 2;
    grid-column: 3;
    padding: 25px 20px 0 20px;
    height: 100%;
  }
  .container #posting-card h2 {
    font-size: 1.7rem;
    line-height: 1.7rem;
    margin-bottom: 5px;
  }
  .container #schedule-card {
    grid-row: 1/span 2;
    grid-column: 4;
    text-align: left;
    padding: 50px 0 40px 30px;
    overflow: hidden;
  }
  .container #schedule-card h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .container #schedule-card img {
    width: auto;
    height: 315px;
    margin: 0;
    margin-bottom: 20px;
  }
  .container #schedule-card p {
    padding: 0;
    padding-right: 30px;
  }
  .container #growth-rate-card {
    grid-row: 3;
    grid-column: 3/span 2;
    display: flex;
    align-items: center;
    padding: 24px;
    text-align: left;
  }
  .container #growth-rate-card h2 {
    font-size: 2.2rem;
    line-height: 2rem;
    padding-left: 10px;
  }
  .container #growth-rate-card img {
    height: 200px;
    width: auto;
    margin: 0;
  }
  .container #audience-card {
    grid-row: 3;
    grid-column: 2;
    padding: 40px 30px 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container #audience-card h2 {
    vertical-align: middle;
    font-size: 3.5rem;
  }
  .container .card-packed {
    grid-row: 1/span 3;
    grid-column: 1;
    display: grid;
    grid-template-rows: 415px 1fr;
    letter-spacing: -1.2px;
  }
  .container .card-packed #create-post-card {
    padding-top: 80px;
  }
  .container .card-packed #create-post-card h2,
  .container .card-packed #create-post-card h2 span {
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .container .card-packed #ai-assist-card {
    padding: 25px 10px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .card-packed #ai-assist-card h2 {
    font-size: 2.2rem;
    line-height: 1.9rem;
    padding-right: 10px;
  }
  .container .card-packed #ai-assist-card img {
    margin: 0;
    height: fit-content;
    width: 100%;
  }
}