//Color
$light-purple: hsl(254, 88%, 90%);
$dark-purple: hsl(256, 67%, 59%);
$light-yellow: hsl(31, 66%, 93%);
$dark-yellow: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);

// Global design
.card {
  border-radius: 10px;
}

h2,
h2 span {
  font-size: 1.4rem;
  line-height: 1.3rem;
  letter-spacing: -1.2px;
}

img {
  width: fit-content;
  height: fit-content;
}

#header-card,
#follower-growth {
  background-color: $dark-purple;
}

#multiple-platforms-card,
#audience-growth {
  background-color: $white;
}

#posting-schedule,
#ai-content {
  background-color: $dark-yellow;
}

#schedule-social-media {
  background-color: $light-purple;
}

#create-post {
  background-color: $light-yellow;
}

#header-card {
  text-align: center;

  h1 {
    color: $white;
    span {
      color: $dark-yellow;
    }
  }

  p {
    color: $light-yellow;
  }
}

#follower-growth {
  color: $white;
}

#create-post {
  h2 span {
    color: $dark-purple;
    font-style: italic;
  }
}

// Mobile view
main {
  width: 100%;
  height: 100%;

  .card-container,
  .card-packed {
    display: grid;
    grid-template-columns: 341px;
    gap: 30px;
  }

  .card-container {
    grid-template-rows: 290px 165px 215px 470px 375px 215px 1fr;
    padding: 30px 0 40px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    #header-card {
      padding: 45px;

      h1,
      h1 span,
      h1 em {
        font-size: 2.5rem;
        line-height: 2.3rem;
      }

      h1 {
        margin-bottom: 25px;
      }

      img {
        width: 185px;
      }
    }

    #multiple-platforms-card {
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        width: 100%;
      }
    }

    #posting-schedule {
      padding: 17px 80px 0 17px;
      overflow: hidden;

      img {
        width: 208px;
        margin-top: 10px;
      }
    }

    #schedule-social-media {
      padding: 34px 17px 33px 17px;
      text-align: center;

      img {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 25px;
      }

      p {
        padding: 0 15px;
        line-height: 1.1rem;
      }
    }

    #follower-growth {
      padding: 23px 57px 20px 57px;
      text-align: center;

      img {
        width: 100%;
        margin-bottom: 35px;
      }

      h2 {
        font-size: 2rem;
        line-height: 1.7rem;
      }
    }

    #audience-growth {
      padding: 35px 120px 24px 23px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2,
      h2 span {
        font-size: 3rem;
      }

      img {
        height: 65px;
      }
    }

    .card-packed {
      grid-template-rows: 235px 350px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2,
        h2 span {
          font-size: 1.75rem;
          line-height: 1.5rem;
        }
      }

      #create-post {
        padding: 33px 35px 40px 32px;

        img {
          width: 190px;
        }
      }

      #ai-content {
        padding: 25px 65px 25px 24px;

        img {
          height: 223px;
        }
      }
    }
  }
}

// Desktop view
@media (min-width: 1240px) {
  main {
    width: 1120px;
    height: 880px;

    position: absolute;
    top: 51%;
    left: 50%;
    translate: -50% -50%;

    .card-container,
    .card-packed {
      // display: grid;
      gap: 32px;
    }

    .card-container {
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(4, 255px);
      grid-template-rows: 325px repeat(2, 245px);
      padding: 0;
      position: relative;
      left: 0;
      transform: translateX(-0%);

      #header-card {
        grid-column: 2 / span 2;
        grid-row: 1;
        padding: 65px 45px;

        h1,
        h1 span,
        h1 em {
          font-size: 3.4rem;
          line-height: 3.2rem;
        }

        h1 {
          margin-bottom: 20px;
        }

        img {
          width: 190px;
        }
      }

      #multiple-platforms-card {
        grid-column: 2;
        grid-row: 2;

        padding: 25px 0 20px 25px;
        overflow: hidden;

        h2 {
          font-size: 1.8rem;
          line-height: 1.6rem;
          padding-right: 10px;
        }

        img {
          width: fit-content;
          height: 65px;
        }
      }

      #posting-schedule {
        grid-column: 3;
        grid-row: 2;
        padding: 24px 25px 0 25px;

        h2 {
          font-size: 1.8rem;
          line-height: 1.55rem;
        }

        img {
          margin-top: 15px;
        }
      }

      #schedule-social-media {
        grid-column: 4;
        grid-row: 1 / span 2;
        padding: 50px 0 50px 30px;
        overflow: hidden;

        h2 {
          text-align: left;
          font-size: 1.8rem;
          line-height: 1.6rem;
        }

        img {
          width: auto;
          height: 320px;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        p {
          padding: 0 30px 0 0;
          text-align: left;
        }
      }

      #follower-growth {
        grid-column: 3 / span 2;
        grid-row: 3;

        padding: 23px;
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: fit-content;
          height: 100%;
          margin-bottom: 0px;
          margin-right: 15px;
        }

        h2 {
          font-size: 2.3rem;
          line-height: 2rem;
        }
      }

      #audience-growth {
        grid-column: 2;
        grid-row: 3;
        padding: 40px 38px 24px 23px;

        h2,
        h2 span {
          font-size: 3.5rem;
        }
      }

      .card-packed {
        grid-column: 1;
        grid-row: 1 / span 3;

        grid-template-columns: 255px;
        grid-template-rows: 415px auto;

        //   grid-template-rows: 235px 350px;

        //   .card {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;

        //     h2,
        //     h2 span {
        //       font-size: 1.75rem;
        //       line-height: 1.5rem;
        //     }
        //   }

        #create-post {
          padding: 80px 35px 85px 32px;

          h2,
          h2 span {
            font-size: 2.2rem;
            line-height: 1.9rem;
          }
        }

        #ai-content {
          // padding: 25px 65px 25px 24px;

          // img {
          //   height: 223px;
          // }

          h2 {
            font-size: 2.2rem;
            line-height: 1.9rem;
          }
        }
      }
    }
  }
}
